body {
    background-color: #a827e7;
}

header {
    text-align: center;
}

.heading {
    color: white;
    Font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}

.subhead {
    color: white;
    Font-weight: bold;
    text-align: left;
    font-size: 1.5em;
}

.paragraph {
    color: white;
    Font-weight: bold;
    text-align: left;
    font-size: 1em;
}

.linkBtn {
    color: white;
    Font-weight: bold;
    text-align: center;
    font-size: 3em;
    font-style: none;
    text-decoration: none;
}